body {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;  
  height: 100vh;
  background-image: url('./Fotos/caixa-de-texto-para-inserir-senha-em-servico-na-internet-ciberseguranca-password-seguranca-digital-1553286427111_v2_4x3.jpg'); /* add your image URL here */
  background-size: cover; 
  background-position: center; 
  margin-left: 350px;
  margin-bottom: 30px;
}

.menu{
justify-content: flex-end;
background-color: #f3f0f0;
width: 131%;
height: 135px;
text-align: center;
margin-right: 330px;


  
}


h1 {
  font-size: 35px;
  color: #0741ff;
  margin-bottom: 20px;
}

button {
  background-color: #0063f7;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00ff22;
}

button:active {
  background-color: #150696;
}